<h3>Create order</h3>

<% flash.each do |type, msg| %>
  <div>
    <h5><%= "Your order №#{msg} has been successfully created. You can view order details by clicking on the link." %>
    <%= link_to 'Show order details', order_path(Order.find_by id: msg) %></h5>
  </div>
<% end %>

<%= form_with model: @order do |a| %>
  
  Last name

  <div>
  	<%= a.text_field :last_name, required: true, placeholder: "Last name" %>
  </div>

  First name 

  <div>
    <%= a.text_field :first_name, required: true, placeholder: "First name"%>
  </div>

  Patronymic

  <div>
    <%= a.text_field :patronymic, required: true, placeholder: "Patronymic" %>
  </div>

  Phone

  <div>
    <%= a.text_field :phone, required: true, placeholder: "Phone" %>
  </div>

  Email

  <div>
    <%= a.text_field :email, required: true, placeholder: "Email" %>
  </div>

  Weight(kg)

  <div>
    <%= a.text_field :weight, required: true, placeholder: "Weight" %>
  </div>

  Length(cm)  

  <div>
    <%= a.text_field :length, required: true, placeholder: "Length" %>
  </div>

  Width(cm)

  <div>
    <%= a.text_field :width, required: true, placeholder: "Width" %>
  </div>

  Height(cm)

  <div>
    <%= a.text_field :height, required: true, placeholder: "Height" %>
  </div>

  Origin location 

  <div>
    <%= a.text_field :origin_location, required: true, placeholder: "Origin location " %>
  </div>

  Destination location 

  <div>
    <%= a.text_field :destination_location, required: true, placeholder: "Destination location"%>
  </div>

  <%= a.submit "Submit" %>
<% end %>