<h3><%= "Order №#{@order.id}" %></h3>
<h5><%=  "Last name: #{@order.last_name}" %></h5>
<h5><%=  "First name: #{@order.first_name}" %></h5>
<h5><%=  "Patronymic: #{@order.patronymic}" %></h5>
<h5><%=  "Phone: #{@order.phone}" %></h5>
<h5><%=  "Email: #{@order.email}" %></h5>
<h5><%=  "Weight(kg): #{@order.weight}" %></h5>
<h5><%=  "Length(cm): #{@order.length}" %></h5>
<h5><%=  "Width(cm): #{@order.width}" %></h5>
<h5><%=  "Height(cm): #{@order.height}" %></h5>
<h5><%=  "Distance: #{@order.distance}" %></h5>
<h5><%=  "Origin location: #{@order.origin_location}" %></h5>
<h5><%=  "Destination location: #{@order.destination_location}" %></h5>
<h4><%=  "Price: #{@order.price}" %></h4>