<style>
   .layer1 {
    margin-left: 20%; /* Отступ слева */
    margin-top: -3.5%; /* Отступ сверху */
    padding: 10px; /* Поля вокруг текста */
   }
   .layer2 {
    margin-left: -20%; /* Отступ слева */
    padding: 10px; /* Поля вокруг текста */
   }
   .layer3 {
    margin-top: 1%; /* Отступ сверху */
    padding: 10px; /* Поля вокруг текста */
   }
</style>

<div class="layer3"><font size="3">
  <div align="right"><%= image_tag current_user.avatar.url if current_user.avatar? %><span><%= link_to "#{current_user.last_name} #{current_user.first_name} #{current_user.patronymic}", edit_user_registration_path %></span>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete%><font size="3">
  </div>
</div>

<div class="layer1">
  <%= button_to "My orders", orders_path, method: :get%>
  <font size="4"><h1>Create order</h1><font size="4">

  <font size="3">
    <% flash.each do |type, msg| %>
      <% if type == 'created' %>
        <div> 
          <h5 style="color:#008000"> <%= "Your order №#{msg} has been successfully created. You can view order details by clicking on the link." %>
          <%= link_to 'Show order details', order_path(Order.find_by id: msg) %></h5>
        </div>
      <% else %>
        <div>
          <h3>The following errors prevented the order from being saved:</h3>
          <ul><li><%= msg %></li> </ul>
        </div>
      <% end %>
    <% end %>
    
  <% if @order.errors.any? %>
  <h3>The following errors prevented the order from being saved:</h3>
  <ul>
    <% @order.errors.full_messages.each do |msg| %>
     <li><%= msg %></li> 
    <% end %>
  </ul>
  <% end %>

    <%= form_with model: @order do |a| %>
  
      Weight(kg)

      <div>
        <%= a.text_field :weight, required: true, placeholder: "Weight" %>
      </div>

      Length(cm)  

      <div>
        <%= a.text_field :length, required: true, placeholder: "Length" %>
      </div>

      Width(cm)
  
      <div>
        <%= a.text_field :width, required: true, placeholder: "Width" %>
      </div>

      Height(cm)
  
      <div>
        <%= a.text_field :height, required: true, placeholder: "Height" %>
      </div>

      Origin location 

      <div>
        <%= a.text_field :origin_location, required: true, placeholder: "Origin location " %>
      </div>

      Destination location 

      <div>
        <%= a.text_field :destination_location, required: true, placeholder: "Destination location"%>
      </div>

      <div class="layer2">
        <center><%= a.submit "Submit" %></center>
      </div> 
    </font>
  </div>
<% end %>