<style>
  .layer1 {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -3%; /* Отступ сверху */
    padding: 10px;
  }
  .layer3 {
    padding: 10px; /* Поля вокруг текста */
  }
</style>


<div class="layer3"><font size="3">
  <div align="right"><%= image_tag current_user.avatar.url if current_user.avatar? %><span><%= link_to "#{current_user.last_name} #{current_user.first_name} #{current_user.patronymic}", edit_user_registration_path %></span>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete%><font size="3">
  </div>
</div>

<div class="layer1">
  <%= button_to "My orders", orders_path, method: :get%>
  <font size="3"><h2> Order №<%=@order.id %></h2><font size="3">

  <h5><%=  "Last name: #{@order.user.last_name}" %></h5>
  <h5><%=  "First name: #{@order.user.first_name}" %></h5>
  <h5><%=  "Patronymic: #{@order.user.patronymic}" %></h5>
  <h5><%=  "Phone: #{@order.user.phone}" %></h5>
  <h5><%=  "Email: #{@order.user.email}" %></h5>
  <h5><%=  "Weight(kg): #{@order.weight}" %></h5>
  <h5><%=  "Length(cm): #{@order.length}" %></h5>
  <h5><%=  "Width(cm): #{@order.width}" %></h5>
  <h5><%=  "Height(cm): #{@order.height}" %></h5>
  <h5><%=  "Distance: #{@order.distance}" %></h5>
  <h5><%=  "Origin location: #{@order.origin_location}" %></h5>
  <h5><%=  "Destination location: #{@order.destination_location}" %></h5>
  <h5><%=  "Price: #{@order.price}" %></h5><font size="3">
</div>